body{
        background-image: linear-gradient(to right, #5907c5,#9c1893, #e14658, #fdc933);
}
.change,
.change1{
        background-color: black;
        color: #ffffff;
        width: 100px;
        height: 40px;
}

.one,
.two {
        display: inline-flex;
        color: white;
}
.one{
        left: 50px;
        top: 20px;
        position: absolute;
}

.two{
        left: 200px;
        top: 20px;
        position: absolute;
}

.change{
        border-radius: 10%;
        position: absolute;
        top: 110px;
        left:5px
}

.change1{
        border-radius: 10%;
        position: absolute;
        top: 110px;
        left: 160px;
}

.count{
        position: absolute;
        left: 280px;
        font-size: 20px;
        top: 85px;
        color: white;
}


.change2,
.change3{
        background-color: black;
        color: #ffffff;
        width: 100px;
        height: 40px;
}

.three,
.four {
        display: inline-flex;
        color: white;
}

.three{
        left: 50px;
        top: 320px;
        position: absolute;
}

.four{
        left: 200px;
        top: 320px;
        position: absolute;
}

.change2{
        border-radius: 10%;
        position: absolute;
        top: 420px;
        left:5px
}

.change3{
        border-radius: 10%;
        position: absolute;
        top: 420px;
        left: 160px;
}

.count1{
        left: 280px;
        font-size: 20px;
        position: absolute;
        top: 395px;
        color: white;
}


div{
        border: 1px solid black;
        width: 98.5%;
        position: absolute;
        top: 260px;

}

.res{
        color: white;
        position: absolute;
        top: 80px;
        left: 560px;
}

.res1{
        color: white;
        position: absolute;
        top: 380px;
        left: 560px;
}